@import "tailwindcss";

body {
  font-family: 'Noto Serif Armenian Variable', serif;
}

@theme {
  --animate-curtain-open: curtain-open 3s forwards;
  --animate-text-appear: text-appear forwards;

  @keyframes curtain-open {
    0% {
      transform: scaleX(1);
    }

    25% {
      transform: scaleX(1);
    }

    100% {
      transform: scaleX(0);
    }
  }

  @keyframes text-appear {
    0% {
      transform: scaleY(0);
    }

    80% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }

  --text-shadow-1:
    0px 0px 2px rgba(0,0,0,1),
    0px 0px 6px rgba(0,0,0,0.9),
    0px 2px 8px rgba(0,0,0,0.8);
}
